/** Sonner */
[data-sonner-toaster] {
  --normal-bg: var(--background-primary) !important;
  --normal-border: var(--border) !important;
}

.sonner-toast {
  @apply border border-border;
}
.sonner-toast:not([data-type='loading']) {
  & [data-icon] {
    height: calc(100% + 1px);
    position: absolute;
    left: 0;
    width: 45px;
    justify-content: center;
    color: white;
    border-radius: 8px 0 0 8px;

    & svg {
      width: 25px;
      height: 25px;
    }
  }

  & [data-content] {
    margin-left: 40px;
  }
}

.sonner-toast[data-type='success'] [data-icon] {
  background-color: limegreen;
}

.sonner-toast[data-type='error'] [data-icon] {
  background-color: #ff0000;
}

.sonner-toast[data-type='loading'] [data-icon] {
  width: 20px;
  margin-right: 15px;
}

.sonner-toast [data-content] [data-title] {
  @apply text-text-primary;
}
.sonner-toast [data-content] [data-description] {
  @apply text-xs text-text-secondary;
}

.sonner-toast [data-close-button] {
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f4f4f4;
  color: #444444;
}

.sonner-toast [data-button] {
  background-color: var(--background-secondary);
  color: var(--text-primary);
  font-weight: 500;
  border: 1px solid var(--border);
}

/** Tippy */
[data-tippy-root] {
  &,
  .tippy-arrow {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }
}

#menu [data-tippy-root]:first-of-type {
  width: calc(100% - 32px);
}

.tippy-box[data-theme~='custom'] {
  @apply max-w-[450px] p-2 !important;
}
.tippy-box[data-theme~='bubbleMenu'] {
  @apply bg-background-disabled p-2;
}

.tippy-box.notifications {
  @apply min-w-[300px] max-w-full sm:min-w-[420px] !important;
}

.tippy-content {
  @apply h-full p-0 !important;
}

.tippy-content {
  ul,
  ol {
    @apply m-0 p-2 !important;
    list-style: none !important;
  }
}

/* Tooltip arrow */
.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  @apply border-t-background-secondary;
}

.tippy-box[data-theme~='custom'][data-placement^='bottom'] > .tippy-arrow::before {
  @apply border-b-background-secondary;
}

.tippy-box[data-theme~='custom'][data-placement^='left'] > .tippy-arrow::before {
  @apply border-l-background-secondary;
}

.tippy-box[data-theme~='custom'][data-placement^='right'] > .tippy-arrow::before {
  @apply border-r-background-secondary;
}
