/* Loading Screen */
.loader {
  display: flex;
  align-items: center;
  margin-left: -0.65em;
}

.load1 {
  position: absolute;
  content: '';
  margin-right: 1em;
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
}

.load2 {
  position: absolute;
  margin-right: 1em;
  content: '';
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary);
  animation: 2s flow2 infinite;
}

.load3 {
  position: absolute;
  margin-right: 1em;
  content: '';
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary);
  animation: 2s flow3 infinite;
}

.load4 {
  position: absolute;
  margin-right: 1em;
  content: '';
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary);
  animation: 2s flow4 infinite;
}

.load5 {
  position: absolute;
  margin-right: 1em;
  content: '';
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary);
  animation: 2s flow5 infinite;
}

.load6 {
  position: absolute;
  margin-right: 1em;
  content: '';
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary);
  animation: 6s flow6 infinite;
}

.load7 {
  position: absolute;
  margin-right: 1em;
  content: '';
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary);
  animation: 6s flow7 infinite;
}

.load8 {
  position: absolute;
  margin-right: 1em;
  content: '';
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary);
  animation: 6s flow8 infinite;
}

.load9 {
  position: absolute;
  content: '';
  height: 1.2em;
  width: 1.2em;
  border-radius: 5px;
  background-color: var(--primary);
  animation: 6s flow9 infinite;
}

@keyframes flow2 {
  50% {
    transform: translateX(3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateX(0em);
  }
}

@keyframes flow3 {
  50% {
    transform: translateX(-3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateX(0em);
  }
}

@keyframes flow4 {
  50% {
    transform: translateY(3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateY(0em);
  }
}

@keyframes flow5 {
  50% {
    transform: translateY(-3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateY(0em);
  }
}

@keyframes flow6 {
  30% {
    transform: translateX(3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  60% {
    transform: translateX(3em) translateY(-3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateX(0em) translateY(0em);
  }
}

@keyframes flow7 {
  30% {
    transform: translateX(-3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  60% {
    transform: translateX(-3em) translateY(3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateX(0em) translateY(0em);
  }
}

@keyframes flow8 {
  30% {
    transform: translateY(3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  60% {
    transform: translateY(3em) translateX(3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateX(0em) translateY(0em);
  }
}

@keyframes flow9 {
  30% {
    transform: translateY(-3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  60% {
    transform: translateY(-3em) translateX(-3em);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: translateX(0em) translateY(0em);
  }
}

/* Loading Spinner */
.loading {
  width: 45px;
  height: 40px;
  background: linear-gradient(#0000 calc(1 * 100% / 6), var(--primary) 0 calc(3 * 100% / 6), #0000 0),
    linear-gradient(#0000 calc(2 * 100% / 6), var(--primary) 0 calc(4 * 100% / 6), #0000 0),
    linear-gradient(#0000 calc(3 * 100% / 6), var(--primary) 0 calc(5 * 100% / 6), #0000 0);
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
}

@keyframes matrix {
  0% {
    background-position:
      0% 100%,
      50% 100%,
      100% 100%;
  }

  100% {
    background-position:
      0% 0%,
      50% 0%,
      100% 0%;
  }
}
